body{
	font-family: 'Yantramanav', sans-serif;
}
.main_body{
	height: 100vh;
	width: 100vw;
	background-color: grey;
}
.nopadding {
    padding: 0;
}
/* 
====================================
HEADER
====================================
*/
header{
	background-color: lavender;
}
.nav {
    color: white;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
}
.logout{
	float: right;
}
/* 
====================================
LOGIN PAGE
====================================
*/
#login_failed{
	visibility: hidden;
}
/* 
====================================
MAIN TEXT AREA
====================================
*/
.thoughts_pane{
	text-align: center;
}
.textarea_thoughts{
	min-width: 70%;
	min-height: 100%;
	rows: '10';
}